In [50]:
!head data/smsspamcollection.csv

ham	Go until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there got amore wat...
ham	Ok lar... Joking wif u oni...
spam	Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's
ham	U dun say so early hor... U c already then say...
ham	Nah I don't think he goes to usf, he lives around here though
spam	FreeMsg Hey there darling it's been 3 week's now and no word back! I'd like some fun you up for it still? Tb ok! XxX std chgs to send, £1.50 to rcv
ham	Even my brother is not like to speak with me. They treat me like aids patent.
ham	As per your request 'Melle Melle (Oru Minnaminunginte Nurungu Vettam)' has been set as your callertune for all Callers. Press *9 to copy your friends Callertune
spam	WINNER!! As a valued network customer you have been selected to receivea £900 prize reward! To claim call 09061701461. Claim code KL341. Valid 12 hours only.
spam	Had your mobile 11 months or more? U R entitled to Update to the latest colour mobiles with camera for Free! Call The Mobile Update Co FREE on 08002986030

In [51]:
import pandas as pd
import numpy as np

pd.set_option('max_colwidth', 600)

SPAM = 1
HAM = 0
ABSTAIN = -1

df = pd.read_csv('data/smsspamcollection.csv', 
                 header=None,  
                 sep='\t', 
                 names = ['old_label', 'text'])
df.head()

,old_label,text
0,ham,"Go until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there got amore wat..."
1,ham,Ok lar... Joking wif u oni...
2,spam,Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's
3,ham,U dun say so early hor... U c already then say...
4,ham,"Nah I don't think he goes to usf, he lives around here though"

In [52]:
df['label'] = df['old_label'].apply(lambda x: SPAM if x == 'spam' else HAM )
df.head()

,old_label,text,label
0,ham,"Go until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there got amore wat...",0
1,ham,Ok lar... Joking wif u oni...,0
2,spam,Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's,1
3,ham,U dun say so early hor... U c already then say...,0
4,ham,"Nah I don't think he goes to usf, he lives around here though",0

In [53]:
df.loc[ df.sample(frac=0.8).index, 'label'] = ABSTAIN
df.drop(columns=['old_label'], inplace=True)
df.head()

,text,label
0,"Go until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there got amore wat...",-1
1,Ok lar... Joking wif u oni...,-1
2,Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's,1
3,U dun say so early hor... U c already then say...,-1
4,"Nah I don't think he goes to usf, he lives around here though",-1

In [54]:
abstain_idx = df['label'] == ABSTAIN
abstain_idx

0        True
1        True
2       False
3        True
4        True
        ...
5567     True
5568     True
5569     True
5570     True
5571     True
Name: label, Length: 5572, dtype: bool

In [55]:
df_train = df[abstain_idx]
df_test = df[~abstain_idx]

In [56]:
!pip install snorkel

Requirement already satisfied: snorkel in /home/igor/.conda/envs/ml/lib/python3.11/site-packages (0.9.9)
Requirement already satisfied: munkres>=1.0.6 in /home/igor/.conda/envs/ml/lib/python3.11/site-packages (from snorkel) (1.1.4)
Requirement already satisfied: numpy>=1.16.5 in /home/igor/.local/lib/python3.11/site-packages (from snorkel) (1.26.2)
Requirement already satisfied: scipy>=1.2.0 in /home/igor/.local/lib/python3.11/site-packages (from snorkel) (1.11.4)
Requirement already satisfied: pandas>=1.0.0 in /home/igor/.local/lib/python3.11/site-packages (from snorkel) (1.5.3)
Requirement already satisfied: tqdm>=4.33.0 in /home/igor/.conda/envs/ml/lib/python3.11/site-packages (from snorkel) (4.65.0)
Requirement already satisfied: scikit-learn>=0.20.2 in /home/igor/.conda/envs/ml/lib/python3.11/site-packages (from snorkel) (1.3.2)
Requirement already satisfied: torch>=1.2.0 in /home/igor/.conda/envs/ml/lib/python3.11/site-packages (from snorkel) (2.0.1)
Requirement already satisfied: tensorboard>=2.9.1 in /home/igor/.conda/envs/ml/lib/python3.11/site-packages (from snorkel) (2.13.0)
Requirement already satisfied: networkx>=2.2 in /home/igor/.conda/envs/ml/lib/python3.11/site-packages (from snorkel) (3.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /home/igor/.local/lib/python3.11/site-packages (from pandas>=1.0.0->snorkel) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /home/igor/.local/lib/python3.11/site-packages (from pandas>=1.0.0->snorkel) (2023.3.post1)
Requirement already satisfied: joblib>=1.1.1 in /home/igor/.conda/envs/ml/lib/python3.11/site-packages (from scikit-learn>=0.20.2->snorkel) (1.3.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /home/igor/.conda/envs/ml/lib/python3.11/site-packages (from scikit-learn>=0.20.2->snorkel) (3.1.0)
Requirement already satisfied: absl-py>=0.4 in /home/igor/.conda/envs/ml/lib/python3.11/site-packages (from tensorboard>=2.9.1->snorkel) (1.4.0)
Requirement already satisfied: grpcio>=1.48.2 in /home/igor/.conda/envs/ml/lib/python3.11/site-packages (from tensorboard>=2.9.1->snorkel) (1.56.2)
Requirement already satisfied: google-auth<3,>=1.6.3 in /home/igor/.conda/envs/ml/lib/python3.11/site-packages (from tensorboard>=2.9.1->snorkel) (2.22.0)
Requirement already satisfied: google-auth-oauthlib<1.1,>=0.5 in /home/igor/.conda/envs/ml/lib/python3.11/site-packages (from tensorboard>=2.9.1->snorkel) (1.0.0)
Requirement already satisfied: markdown>=2.6.8 in /home/igor/.conda/envs/ml/lib/python3.11/site-packages (from tensorboard>=2.9.1->snorkel) (3.4.3)
Requirement already satisfied: protobuf>=3.19.6 in /home/igor/.local/lib/python3.11/site-packages (from tensorboard>=2.9.1->snorkel) (4.25.1)
Requirement already satisfied: requests<3,>=2.21.0 in /home/igor/.conda/envs/ml/lib/python3.11/site-packages (from tensorboard>=2.9.1->snorkel) (2.31.0)
Requirement already satisfied: setuptools>=41.0.0 in /home/igor/.conda/envs/ml/lib/python3.11/site-packages (from tensorboard>=2.9.1->snorkel) (65.6.3)
Requirement already satisfied: tensorboard-data-server<0.8.0,>=0.7.0 in /home/igor/.conda/envs/ml/lib/python3.11/site-packages (from tensorboard>=2.9.1->snorkel) (0.7.1)
Requirement already satisfied: werkzeug>=1.0.1 in /home/igor/.conda/envs/ml/lib/python3.11/site-packages (from tensorboard>=2.9.1->snorkel) (3.0.1)
Requirement already satisfied: wheel>=0.26 in /home/igor/.conda/envs/ml/lib/python3.11/site-packages (from tensorboard>=2.9.1->snorkel) (0.38.4)
Requirement already satisfied: filelock in /home/igor/.conda/envs/ml/lib/python3.11/site-packages (from torch>=1.2.0->snorkel) (3.13.1)
Requirement already satisfied: typing-extensions in /home/igor/.local/lib/python3.11/site-packages (from torch>=1.2.0->snorkel) (4.9.0)
Requirement already satisfied: sympy in /home/igor/.conda/envs/ml/lib/python3.11/site-packages (from torch>=1.2.0->snorkel) (1.12)
Requirement already satisfied: jinja2 in /home/igor/.local/lib/python3.11/site-packages (from torch>=1.2.0->snorkel) (3.1.2)
Requirement already satisfied: nvidia-cuda-nvrtc-cu11==11.7.99 in /home/igor/.conda/envs/ml/lib/python3.11/site-packages (from torch>=1.2.0->snorkel) (11.7.99)
Requirement already satisfied: nvidia-cuda-runtime-cu11==11.7.99 in /home/igor/.conda/envs/ml/lib/python3.11/site-packages (from torch>=1.2.0->snorkel) (11.7.99)
Requirement already satisfied: nvidia-cuda-cupti-cu11==11.7.101 in /home/igor/.conda/envs/ml/lib/python3.11/site-packages (from torch>=1.2.0->snorkel) (11.7.101)
Requirement already satisfied: nvidia-cudnn-cu11==8.5.0.96 in /home/igor/.conda/envs/ml/lib/python3.11/site-packages (from torch>=1.2.0->snorkel) (8.5.0.96)
Requirement already satisfied: nvidia-cublas-cu11==11.10.3.66 in /home/igor/.conda/envs/ml/lib/python3.11/site-packages (from torch>=1.2.0->snorkel) (11.10.3.66)
Requirement already satisfied: nvidia-cufft-cu11==10.9.0.58 in /home/igor/.conda/envs/ml/lib/python3.11/site-packages (from torch>=1.2.0->snorkel) (10.9.0.58)
Requirement already satisfied: nvidia-curand-cu11==10.2.10.91 in /home/igor/.conda/envs/ml/lib/python3.11/site-packages (from torch>=1.2.0->snorkel) (10.2.10.91)
Requirement already satisfied: nvidia-cusolver-cu11==11.4.0.1 in /home/igor/.conda/envs/ml/lib/python3.11/site-packages (from torch>=1.2.0->snorkel) (11.4.0.1)
Requirement already satisfied: nvidia-cusparse-cu11==11.7.4.91 in /home/igor/.conda/envs/ml/lib/python3.11/site-packages (from torch>=1.2.0->snorkel) (11.7.4.91)
Requirement already satisfied: nvidia-nccl-cu11==2.14.3 in /home/igor/.conda/envs/ml/lib/python3.11/site-packages (from torch>=1.2.0->snorkel) (2.14.3)
Requirement already satisfied: nvidia-nvtx-cu11==11.7.91 in /home/igor/.conda/envs/ml/lib/python3.11/site-packages (from torch>=1.2.0->snorkel) (11.7.91)
Requirement already satisfied: triton==2.0.0 in /home/igor/.conda/envs/ml/lib/python3.11/site-packages (from torch>=1.2.0->snorkel) (2.0.0)
Requirement already satisfied: cmake in /home/igor/.conda/envs/ml/lib/python3.11/site-packages (from triton==2.0.0->torch>=1.2.0->snorkel) (3.26.3)
Requirement already satisfied: lit in /home/igor/.conda/envs/ml/lib/python3.11/site-packages (from triton==2.0.0->torch>=1.2.0->snorkel) (16.0.5)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in /home/igor/.local/lib/python3.11/site-packages (from google-auth<3,>=1.6.3->tensorboard>=2.9.1->snorkel) (5.3.2)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /home/igor/.conda/envs/ml/lib/python3.11/site-packages (from google-auth<3,>=1.6.3->tensorboard>=2.9.1->snorkel) (0.3.0)
Requirement already satisfied: rsa<5,>=3.1.4 in /home/igor/.conda/envs/ml/lib/python3.11/site-packages (from google-auth<3,>=1.6.3->tensorboard>=2.9.1->snorkel) (4.9)
Requirement already satisfied: six>=1.9.0 in /home/igor/.local/lib/python3.11/site-packages (from google-auth<3,>=1.6.3->tensorboard>=2.9.1->snorkel) (1.16.0)
Requirement already satisfied: urllib3<2.0 in /home/igor/.conda/envs/ml/lib/python3.11/site-packages (from google-auth<3,>=1.6.3->tensorboard>=2.9.1->snorkel) (1.26.16)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /home/igor/.conda/envs/ml/lib/python3.11/site-packages (from google-auth-oauthlib<1.1,>=0.5->tensorboard>=2.9.1->snorkel) (1.3.1)
Requirement already satisfied: charset-normalizer<4,>=2 in /home/igor/.conda/envs/ml/lib/python3.11/site-packages (from requests<3,>=2.21.0->tensorboard>=2.9.1->snorkel) (3.2.0)
Requirement already satisfied: idna<4,>=2.5 in /home/igor/.conda/envs/ml/lib/python3.11/site-packages (from requests<3,>=2.21.0->tensorboard>=2.9.1->snorkel) (3.4)
Requirement already satisfied: certifi>=2017.4.17 in /home/igor/.conda/envs/ml/lib/python3.11/site-packages (from requests<3,>=2.21.0->tensorboard>=2.9.1->snorkel) (2022.12.7)
Requirement already satisfied: MarkupSafe>=2.1.1 in /home/igor/.local/lib/python3.11/site-packages (from werkzeug>=1.0.1->tensorboard>=2.9.1->snorkel) (2.1.3)
Requirement already satisfied: mpmath>=0.19 in /home/igor/.conda/envs/ml/lib/python3.11/site-packages (from sympy->torch>=1.2.0->snorkel) (1.3.0)
Requirement already satisfied: pyasn1<0.6.0,>=0.4.6 in /home/igor/.conda/envs/ml/lib/python3.11/site-packages (from pyasn1-modules>=0.2.1->google-auth<3,>=1.6.3->tensorboard>=2.9.1->snorkel) (0.5.0)
Requirement already satisfied: oauthlib>=3.0.0 in /home/igor/.conda/envs/ml/lib/python3.11/site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<1.1,>=0.5->tensorboard>=2.9.1->snorkel) (3.2.2)

# Simple keyword search

In [57]:
from snorkel.labeling import labeling_function

@labeling_function()
def check(sms):
    return SPAM if 'check' in sms.text.lower() else ABSTAIN

@labeling_function()
def free(sms):
    return SPAM if 'free' in sms.text.lower() else ABSTAIN

apply the labeling functions to the train set.

In [58]:
from snorkel.labeling import PandasLFApplier

lfs = [check, free]

applier = PandasLFApplier(lfs=lfs)
L_train = applier.apply(df=df_train)
L_train

  0%|          | 0/4458 [00:00<?, ?it/s]

100%|██████████| 4458/4458 [00:00<00:00, 22147.40it/s]

array([[-1, -1],
       [-1, -1],
       [-1, -1],
       ...,
       [-1, -1],
       [-1,  1],
       [-1, -1]])

The simplest way to analyze this is to determine the coverage of labeling functions (i.e., the percentage of cases for which the function returned a result other than `ABSTAIN'.

In [59]:
coverage_check, coverage_free = (L_train != ABSTAIN).mean(axis=0)

print(f"Coverage for check(): {coverage_check * 100:.1f}%")
print(f"Coverage for free(): {coverage_free * 100:.1f}%")

Coverage for check(): 1.0%
Coverage for free(): 4.6%

In [60]:
from snorkel.labeling import LFAnalysis

LFAnalysis(L=L_train, lfs=lfs).lf_summary()

       j Polarity  Coverage  Overlaps  Conflicts
check  0      [1]  0.010094       0.0        0.0
free   1      [1]  0.046433       0.0        0.0

In [61]:
df_train.iloc[L_train[:,1] == SPAM].sample(frac=0.1)

,text,label
385,"Double mins and txts 4 6months FREE Bluetooth on Orange. Available on Sony, Nokia Motorola phones. Call MobileUpd8 on 08000839402 or call2optout/N9DX",-1
2514,U have won a nokia 6230 plus a free digital camera. This is what u get when u win our FREE auction. To take part send NOKIA to 83383 now. POBOX114/14TCR/W1 16,-1
4077,87077: Kick off a new season with 2wks FREE goals & news to ur mobile! Txt ur club name to 87077 eg VILLA to 87077,-1
1221,No. 1 Nokia Tone 4 ur mob every week! Just txt NOK to 87021. 1st Tone FREE ! so get txtin now and tell ur friends. 150p/tone. 16 reply HL 4info,-1
319,December only! Had your mobile 11mths+? You are entitled to update to the latest colour camera mobile for Free! Call The Mobile Update Co FREE on 08002986906,-1
3141,sexy sexy cum and text me im wet and warm and ready for some porn! u up for some fun? THIS MSG IS FREE RECD MSGS 150P INC VAT 2 CANCEL TEXT STOP,-1
744,Ok. There may be a free gym about.,-1
1518,Our brand new mobile music service is now live. The free music player will arrive shortly. Just install on your phone to browse content from the top artists.,-1
268,Ur ringtone service has changed! 25 Free credits! Go to club4mobiles.com to choose content now! Stop? txt CLUB STOP to 87070. 150p/wk Club4 PO Box1146 MK45 2WT,-1
4303,Aiyar hard 2 type. U later free then tell me then i call n scold n tell u.,-1
5060,Free video camera phones with Half Price line rental for 12 mths and 500 cross ntwk mins 100 txts. Call MobileUpd8 08001950382 or Call2OptOut/674,-1
2109,"FREE2DAY sexy St George's Day pic of Jordan!Txt PIC to 89080 dont miss out, then every wk a saucy celeb!4 more pics c PocketBabe.co.uk 0870241182716 £3/wk",-1
1699,"Free msg. Sorry, a service you ordered from 81303 could not be delivered as you do not have sufficient credit. Please top up to receive the service.",-1
3595,Do you want a New Nokia 3510i Colour Phone Delivered Tomorrow? With 200 FREE minutes to any mobile + 100 FREE text + FREE camcorder Reply or Call 08000930705,-1
1229,FREE entry into our £250 weekly comp just send the word ENTER to 84128 NOW. 18 T&C www.textcomp.com cust care 08712405020.,-1
5079,Do you want a New Nokia 3510i colour phone DeliveredTomorrow? With 300 free minutes to any mobile + 100 free texts + Free Camcorder reply or call 08000930705.,-1
3424,Had your mobile 10 mths? Update to latest Orange camera/video phones for FREE. Save £s with Free texts/weekend calls. Text YES for a callback orno to opt out,-1
1780,"Loan for any purpose £500 - £75,000. Homeowners + Tenants welcome. Have you been previously refused? We can still help. Call Free 0800 1956669 or text back 'help'",-1
5147,Get your garden ready for summer with a FREE selection of summer bulbs and seeds worth £33:50 only with The Scotsman this Saturday. To stop go2 notxt.co.uk,-1
1137,Dont forget you can place as many FREE Requests with 1stchoice.co.uk as you wish. For more Information call 08707808226.,-1
5148,K..then come wenever u lik to come and also tel vikky to come by getting free time..:-),-1

In [64]:
@labeling_function()
def call(sms):
    return SPAM if 'call' in sms.text.lower() else ABSTAIN

lfs = [check, free, call]

applier = PandasLFApplier(lfs=lfs)
L_train = applier.apply(df=df_train)
LFAnalysis(L=L_train, lfs=lfs).lf_summary()

100%|██████████| 4458/4458 [00:00<00:00, 21795.50it/s]

       j Polarity  Coverage  Overlaps  Conflicts
check  0      [1]  0.010094  0.000449        0.0
free   1      [1]  0.046433  0.016599        0.0
call   2      [1]  0.115747  0.017048        0.0

In [65]:
# examples were labeled as spam by the call_now() function but omitted by free().
from snorkel.analysis import get_label_buckets

buckets = get_label_buckets(L_train[:, 1], L_train[:, 2])
buckets

{(-1, -1): array([   0,    1,    2, ..., 4454, 4455, 4457]),
 (1,
  -1): array([   4,   11,   71,   75,  112,  137,  138,  201,  217,  219,  290,
         328,  342,  397,  425,  493,  511,  533,  545,  605,  648,  656,
         730,  774,  825,  886,  942,  991,  997,  999, 1037, 1097, 1106,
        1167, 1178, 1205, 1215, 1216, 1225, 1241, 1248, 1296, 1310, 1361,
        1371, 1423, 1428, 1439, 1529, 1537, 1547, 1558, 1586, 1605, 1613,
        1675, 1679, 1706, 1716, 1745, 1807, 1835, 1873, 1875, 1928, 1973,
        2008, 2037, 2046, 2072, 2088, 2093, 2129, 2158, 2267, 2308, 2317,
        2426, 2436, 2528, 2539, 2599, 2674, 2677, 2687, 2764, 2769, 2833,
        2937, 2951, 2981, 2996, 3036, 3068, 3100, 3156, 3172, 3268, 3282,
        3289, 3327, 3341, 3373, 3388, 3401, 3458, 3543, 3649, 3672, 3681,
        3785, 3789, 3822, 3893, 3925, 3928, 4003, 4047, 4080, 4110, 4118,
        4123, 4124, 4148, 4158, 4162, 4234, 4243, 4278, 4287, 4372, 4429,
        4456]),
 (-1,
  1): array([   6,    7,   38,   46,   53,   61,   65,   68,   81,   89,   94,
          95,   97,  103,  106,  110,  122,  136,  161,  176,  177,  191,
         198,  210,  229,  234,  235,  255,  267,  273,  278,  279,  287,
         306,  311,  324,  345,  347,  362,  374,  378,  401,  426,  431,
         436,  439,  443,  462,  471,  474,  482,  484,  501,  512,  526,
         534,  550,  555,  557,  569,  578,  583,  584,  585,  589,  595,
         618,  620,  672,  677,  678,  683,  687,  704,  707,  711,  714,
         715,  740,  744,  762,  766,  783,  787,  800,  801,  803,  824,
         830,  849,  857,  867,  868,  882,  884,  898,  905,  908,  932,
         968,  974,  987, 1002, 1017, 1019, 1033, 1062, 1078, 1085, 1108,
        1114, 1117, 1180, 1184, 1189, 1212, 1228, 1256, 1280, 1286, 1299,
        1309, 1311, 1313, 1332, 1337, 1346, 1350, 1357, 1360, 1373, 1380,
        1386, 1399, 1404, 1412, 1436, 1440, 1457, 1471, 1473, 1476, 1483,
        1488, 1494, 1498, 1503, 1510, 1516, 1517, 1522, 1527, 1528, 1536,
        1555, 1568, 1570, 1574, 1596, 1597, 1599, 1651, 1655, 1656, 1665,
        1690, 1695, 1709, 1719, 1725, 1726, 1744, 1753, 1754, 1758, 1772,
        1774, 1779, 1785, 1787, 1793, 1798, 1802, 1809, 1816, 1821, 1822,
        1831, 1847, 1858, 1859, 1860, 1862, 1874, 1888, 1909, 1915, 1921,
        1924, 1931, 1932, 1952, 1983, 1993, 2013, 2021, 2022, 2043, 2045,
        2087, 2098, 2110, 2123, 2135, 2146, 2152, 2171, 2172, 2174, 2208,
        2216, 2221, 2233, 2247, 2255, 2261, 2274, 2284, 2289, 2296, 2300,
        2305, 2327, 2357, 2359, 2385, 2388, 2399, 2408, 2419, 2429, 2433,
        2441, 2510, 2540, 2546, 2548, 2551, 2557, 2558, 2577, 2604, 2633,
        2641, 2644, 2654, 2663, 2672, 2681, 2683, 2688, 2689, 2698, 2699,
        2701, 2703, 2709, 2711, 2714, 2718, 2722, 2730, 2731, 2738, 2754,
        2757, 2761, 2777, 2780, 2785, 2792, 2804, 2813, 2834, 2838, 2840,
        2856, 2860, 2885, 2889, 2899, 2921, 2946, 2971, 2972, 2987, 2998,
        3005, 3015, 3028, 3031, 3035, 3038, 3045, 3058, 3076, 3102, 3129,
        3131, 3133, 3141, 3174, 3177, 3190, 3220, 3224, 3232, 3236, 3246,
        3247, 3257, 3267, 3272, 3273, 3276, 3277, 3278, 3285, 3291, 3303,
        3305, 3309, 3312, 3324, 3344, 3345, 3350, 3352, 3354, 3362, 3363,
        3381, 3389, 3398, 3441, 3443, 3451, 3454, 3455, 3461, 3466, 3473,
        3488, 3497, 3508, 3513, 3538, 3563, 3606, 3607, 3628, 3636, 3669,
        3674, 3685, 3703, 3713, 3714, 3734, 3736, 3746, 3749, 3756, 3778,
        3796, 3809, 3814, 3830, 3833, 3842, 3843, 3846, 3853, 3855, 3877,
        3904, 3912, 3919, 3937, 3960, 3964, 3965, 3972, 3978, 3992, 4000,
        4010, 4024, 4025, 4037, 4044, 4051, 4054, 4064, 4067, 4070, 4082,
        4091, 4102, 4115, 4134, 4140, 4165, 4186, 4189, 4192, 4211, 4216,
        4219, 4228, 4239, 4241, 4251, 4253, 4296, 4297, 4299, 4313, 4338,
        4342, 4363, 4365, 4383, 4384, 4387, 4396, 4400, 4416, 4417, 4418,
        4445, 4453]),
 (1,
  1): array([   8,   35,   45,  146,  240,  261,  299,  315,  377,  400,  403,
         464,  488,  577,  633,  638,  643,  649,  706,  814,  817,  866,
         920, 1341, 1409, 1435, 1490, 1590, 1623, 1648, 1769, 1863, 1899,
        2180, 2191, 2271, 2347, 2413, 2522, 2567, 2726, 2744, 2753, 2755,
        2756, 2812, 2886, 2966, 3030, 3127, 3148, 3183, 3195, 3200, 3218,
        3253, 3293, 3340, 3347, 3369, 3457, 3521, 3584, 3673, 3788, 3946,
        3961, 4049, 4065, 4093, 4168, 4367, 4435, 4452])}

In [66]:
buckets.keys()

dict_keys([(-1, -1), (1, -1), (-1, 1), (1, 1)])

In [67]:
df_train.iloc[buckets[(SPAM, ABSTAIN)]]

,text,label
5,"FreeMsg Hey there darling it's been 3 week's now and no word back! I'd like some fun you up for it still? Tb ok! XxX std chgs to send, £1.50 to rcv",-1
12,"URGENT! You have won a 1 week FREE membership in our £100,000 Prize Jackpot! Txt the word: CLAIM to No: 81010 T&C www.dbuk.net LCCLTD POBOX 4403LDNW1A7RW18",-1
89,"Ela kano.,il download, come wen ur free..",-1
95,"Your free ringtone is waiting to be collected. Simply text the password ""MIX"" to 85069 to verify. Get Usher and Britney. FML, PO Box 5249, MK17 92H. 450Ppw 16",-1
139,You'll not rcv any more msgs from the chat svc. For FREE Hardcore services text GO to: 69988 If u get nothing u must Age Verify with yr network & try again,-1
...,...,...
5342,"u r subscribed 2 TEXTCOMP 250 wkly comp. 1st wk?s free question follows, subsequent wks charged@150p/msg.2 unsubscribe txt STOP 2 84128,custcare 08712405020",-1
5353,Guai... Ü shd haf seen him when he's naughty... Ü so free today? Can go jogging...,-1
5467,Get your garden ready for summer with a FREE selection of summer bulbs and seeds worth £33:50 only with The Scotsman this Saturday. To stop go2 notxt.co.uk,-1
5540,ASKED 3MOBILE IF 0870 CHATLINES INCLU IN FREE MINS. INDIA CUST SERVs SED YES. L8ER GOT MEGA BILL. 3 DONT GIV A SHIT. BAILIFF DUE IN DAYS. I O £250 3 WANT £800,-1
5570,The guy did some bitching but I acted like i'd be interested in buying something else next week and he gave it to us for free,-1

In [68]:
@labeling_function()
def hot(sms):
    return SPAM if 'HOT' in sms.text else ABSTAIN

In [70]:
import re

@labeling_function()
def regex_I_am_free(sms):
    if re.search(r"\sI\s.*free", sms.text, flags=re.I):
        return HAM
    elif re.search(r"free", sms.text, flags=re.I):
        return SPAM
    else:
        return ABSTAIN

lfs = [check, free, call, regex_I_am_free]

applier = PandasLFApplier(lfs=lfs)
L_train = applier.apply(df=df_train)

LFAnalysis(L=L_train, lfs=lfs).lf_summary()

100%|██████████| 4458/4458 [00:00<00:00, 7424.91it/s]

                 j Polarity  Coverage  Overlaps  Conflicts
check            0      [1]  0.010094  0.000449   0.000000
free             1      [1]  0.046433  0.046433   0.002692
call             2      [1]  0.115747  0.017048   0.000224
regex_I_am_free  3   [0, 1]  0.046433  0.046433   0.002692

In [71]:
buckets = get_label_buckets(L_train[:, 1], L_train[:, 3])
df_train.iloc[buckets[(SPAM, HAM)]].sample(10, random_state=1)

,text,label
1784,No dear i do have free messages without any recharge. Hi hi hi,-1
2121,"Argh my 3g is spotty, anyway the only thing I remember from the research we did was that province and sterling were the only problem-free places we looked at",-1
2232,"K, wen ur free come to my home and also tel vikky i hav sent mail to him also.. Better come evening il be free today aftr 6pm..:-)",-1
4587,"Mila, age23, blonde, new in UK. I look sex with UK guys. if u like fun with me. Text MTALK to 69866.18 . 30pp/txt 1st 5free. £1.50 increments. Help08718728876",-1
1364,"Yetunde, i'm sorry but moji and i seem too busy to be able to go shopping. Can you just please find some other way to get what you wanted us to get. Please forgive me. You can reply free via yahoo messenger.",-1
3436,Hi darlin i cantdo anythingtomorrow as myparents aretaking me outfor a meal. when are u free? Katexxx,-1
948,Hey i booked the kb on sat already... what other lessons are we going for ah? Keep your sat night free we need to meet and confirm our lodging,-1
3692,"Sir, i am waiting for your call, once free please call me.",-1
5570,The guy did some bitching but I acted like i'd be interested in buying something else next week and he gave it to us for free,-1
4151,I only work from mon to thurs but Sat i cant leh... Booked liao... Which other day u free?,-1

In [72]:
@labeling_function()
def contains_money(sms):
    if re.search(r"\$\d+|£\d+", sms.text, flags=re.I):
        return SPAM
    else:
        return ABSTAIN

In [75]:
!python -m spacy download en_core_web_sm

/home/igor/.conda/envs/ml/lib/python3.11/site-packages/torch/cuda/__init__.py:546: UserWarning: Can't initialize NVML
  warnings.warn("Can't initialize NVML")
Collecting en-core-web-sm==3.7.1
  Downloading https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl (12.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.8/12.8 MB 8.3 MB/s eta 0:00:00m eta 0:00:010:0101
Requirement already satisfied: spacy<3.8.0,>=3.7.2 in /home/igor/.conda/envs/ml/lib/python3.11/site-packages (from en-core-web-sm==3.7.1) (3.7.4)
Requirement already satisfied: spacy-legacy<3.1.0,>=3.0.11 in /home/igor/.conda/envs/ml/lib/python3.11/site-packages (from spacy<3.8.0,>=3.7.2->en-core-web-sm==3.7.1) (3.0.12)
Requirement already satisfied: spacy-loggers<2.0.0,>=1.0.0 in /home/igor/.conda/envs/ml/lib/python3.11/site-packages (from spacy<3.8.0,>=3.7.2->en-core-web-sm==3.7.1) (1.0.5)
Requirement already satisfied: murmurhash<1.1.0,>=0.28.0 in /home/igor/.conda/envs/ml/lib/python3.11/site-packages (from spacy<3.8.0,>=3.7.2->en-core-web-sm==3.7.1) (1.0.10)
Requirement already satisfied: cymem<2.1.0,>=2.0.2 in /home/igor/.conda/envs/ml/lib/python3.11/site-packages (from spacy<3.8.0,>=3.7.2->en-core-web-sm==3.7.1) (2.0.8)
Requirement already satisfied: preshed<3.1.0,>=3.0.2 in /home/igor/.conda/envs/ml/lib/python3.11/site-packages (from spacy<3.8.0,>=3.7.2->en-core-web-sm==3.7.1) (3.0.9)
Requirement already satisfied: thinc<8.3.0,>=8.2.2 in /home/igor/.conda/envs/ml/lib/python3.11/site-packages (from spacy<3.8.0,>=3.7.2->en-core-web-sm==3.7.1) (8.2.3)
Requirement already satisfied: wasabi<1.2.0,>=0.9.1 in /home/igor/.conda/envs/ml/lib/python3.11/site-packages (from spacy<3.8.0,>=3.7.2->en-core-web-sm==3.7.1) (1.1.2)
Requirement already satisfied: srsly<3.0.0,>=2.4.3 in /home/igor/.conda/envs/ml/lib/python3.11/site-packages (from spacy<3.8.0,>=3.7.2->en-core-web-sm==3.7.1) (2.4.8)
Requirement already satisfied: catalogue<2.1.0,>=2.0.6 in /home/igor/.conda/envs/ml/lib/python3.11/site-packages (from spacy<3.8.0,>=3.7.2->en-core-web-sm==3.7.1) (2.0.10)
Requirement already satisfied: weasel<0.4.0,>=0.1.0 in /home/igor/.conda/envs/ml/lib/python3.11/site-packages (from spacy<3.8.0,>=3.7.2->en-core-web-sm==3.7.1) (0.3.4)
Requirement already satisfied: typer<0.10.0,>=0.3.0 in /home/igor/.conda/envs/ml/lib/python3.11/site-packages (from spacy<3.8.0,>=3.7.2->en-core-web-sm==3.7.1) (0.9.0)
Requirement already satisfied: smart-open<7.0.0,>=5.2.1 in /home/igor/.conda/envs/ml/lib/python3.11/site-packages (from spacy<3.8.0,>=3.7.2->en-core-web-sm==3.7.1) (6.4.0)
Requirement already satisfied: tqdm<5.0.0,>=4.38.0 in /home/igor/.conda/envs/ml/lib/python3.11/site-packages (from spacy<3.8.0,>=3.7.2->en-core-web-sm==3.7.1) (4.65.0)
Requirement already satisfied: requests<3.0.0,>=2.13.0 in /home/igor/.conda/envs/ml/lib/python3.11/site-packages (from spacy<3.8.0,>=3.7.2->en-core-web-sm==3.7.1) (2.31.0)
Requirement already satisfied: pydantic!=1.8,!=1.8.1,<3.0.0,>=1.7.4 in /home/igor/.conda/envs/ml/lib/python3.11/site-packages (from spacy<3.8.0,>=3.7.2->en-core-web-sm==3.7.1) (1.10.13)
Requirement already satisfied: jinja2 in /home/igor/.local/lib/python3.11/site-packages (from spacy<3.8.0,>=3.7.2->en-core-web-sm==3.7.1) (3.1.2)
Requirement already satisfied: setuptools in /home/igor/.conda/envs/ml/lib/python3.11/site-packages (from spacy<3.8.0,>=3.7.2->en-core-web-sm==3.7.1) (65.6.3)
Requirement already satisfied: packaging>=20.0 in /home/igor/.conda/envs/ml/lib/python3.11/site-packages (from spacy<3.8.0,>=3.7.2->en-core-web-sm==3.7.1) (23.1)
Requirement already satisfied: langcodes<4.0.0,>=3.2.0 in /home/igor/.conda/envs/ml/lib/python3.11/site-packages (from spacy<3.8.0,>=3.7.2->en-core-web-sm==3.7.1) (3.3.0)
Requirement already satisfied: numpy>=1.19.0 in /home/igor/.local/lib/python3.11/site-packages (from spacy<3.8.0,>=3.7.2->en-core-web-sm==3.7.1) (1.26.2)
Requirement already satisfied: typing-extensions>=4.2.0 in /home/igor/.local/lib/python3.11/site-packages (from pydantic!=1.8,!=1.8.1,<3.0.0,>=1.7.4->spacy<3.8.0,>=3.7.2->en-core-web-sm==3.7.1) (4.9.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /home/igor/.conda/envs/ml/lib/python3.11/site-packages (from requests<3.0.0,>=2.13.0->spacy<3.8.0,>=3.7.2->en-core-web-sm==3.7.1) (3.2.0)
Requirement already satisfied: idna<4,>=2.5 in /home/igor/.conda/envs/ml/lib/python3.11/site-packages (from requests<3.0.0,>=2.13.0->spacy<3.8.0,>=3.7.2->en-core-web-sm==3.7.1) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /home/igor/.conda/envs/ml/lib/python3.11/site-packages (from requests<3.0.0,>=2.13.0->spacy<3.8.0,>=3.7.2->en-core-web-sm==3.7.1) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in /home/igor/.conda/envs/ml/lib/python3.11/site-packages (from requests<3.0.0,>=2.13.0->spacy<3.8.0,>=3.7.2->en-core-web-sm==3.7.1) (2022.12.7)
Requirement already satisfied: blis<0.8.0,>=0.7.8 in /home/igor/.conda/envs/ml/lib/python3.11/site-packages (from thinc<8.3.0,>=8.2.2->spacy<3.8.0,>=3.7.2->en-core-web-sm==3.7.1) (0.7.11)
Requirement already satisfied: confection<1.0.0,>=0.0.1 in /home/igor/.conda/envs/ml/lib/python3.11/site-packages (from thinc<8.3.0,>=8.2.2->spacy<3.8.0,>=3.7.2->en-core-web-sm==3.7.1) (0.1.4)
Requirement already satisfied: click<9.0.0,>=7.1.1 in /home/igor/.local/lib/python3.11/site-packages (from typer<0.10.0,>=0.3.0->spacy<3.8.0,>=3.7.2->en-core-web-sm==3.7.1) (8.1.7)
Requirement already satisfied: cloudpathlib<0.17.0,>=0.7.0 in /home/igor/.conda/envs/ml/lib/python3.11/site-packages (from weasel<0.4.0,>=0.1.0->spacy<3.8.0,>=3.7.2->en-core-web-sm==3.7.1) (0.16.0)
Requirement already satisfied: MarkupSafe>=2.0 in /home/igor/.local/lib/python3.11/site-packages (from jinja2->spacy<3.8.0,>=3.7.2->en-core-web-sm==3.7.1) (2.1.3)
Installing collected packages: en-core-web-sm
Successfully installed en-core-web-sm-3.7.1
✔ Download and installation successful
You can now load the package via spacy.load('en_core_web_sm')

In [76]:
!python -m spacy validate

/home/igor/.conda/envs/ml/lib/python3.11/site-packages/torch/cuda/__init__.py:546: UserWarning: Can't initialize NVML
  warnings.warn("Can't initialize NVML")
✔ Loaded compatibility table

================= Installed pipeline packages (spaCy v3.7.4) =================
ℹ spaCy installation:
/home/igor/.conda/envs/ml/lib/python3.11/site-packages/spacy

NAME             SPACY            VERSION
en_core_web_sm   >=3.7.2,<3.8.0   3.7.1   ✔

In [77]:
import spacy

nlp = spacy.load('en_core_web_sm')

/home/igor/.conda/envs/ml/lib/python3.11/site-packages/torch/cuda/__init__.py:546: UserWarning: Can't initialize NVML
  warnings.warn("Can't initialize NVML")

In [78]:
_text = """I don't England is a country that is part of the United Kingdom. 
It shares land borders with Wales to its west and Scotland to its north. 
The Irish Sea lies northwest of England and the Celtic Sea to the southwest. 
England is separated from continental Europe by the North Sea to the east and the 
English Channel to the south. The country covers five-eighths of the island of 
Great Britain, which lies in the North Atlantic, and includes over 100 smaller islands, 
such as the Isles of Scilly and the Isle of Wight."""

doc = nlp(_text)

for e in doc.ents:
    print(f"{e.text:<25} start:{e.start} end:{e.end} label: {e.label_}")

England                   start:3 end:4 label: GPE
the United Kingdom        start:11 end:14 label: GPE
Wales                     start:21 end:22 label: ORG
Scotland                  start:26 end:27 label: GPE
The Irish Sea             start:32 end:35 label: LOC
England                   start:38 end:39 label: GPE
the Celtic Sea            start:40 end:43 label: LOC
England                   start:48 end:49 label: GPE
Europe                    start:53 end:54 label: LOC
the North Sea             start:55 end:58 label: LOC
English                   start:64 end:65 label: LANGUAGE
five-eighths              start:73 end:76 label: CARDINAL
Great Britain             start:81 end:83 label: GPE
the North Atlantic        start:87 end:90 label: LOC
over 100                  start:93 end:95 label: CARDINAL
the Isles of Scilly       start:101 end:105 label: GPE
the Isle of Wight         start:106 end:110 label: GPE

In [79]:
from snorkel.preprocess.nlp import SpacyPreprocessor

spacy = SpacyPreprocessor(text_field="text", doc_field="doc", memoize=True)

In [80]:
df_train.columns

Index(['text', 'label'], dtype='object')

In [81]:
@labeling_function(pre=[spacy])
def has_person(sms):
    if len(sms.doc) < 20 and any([ent.label_ == "PERSON" for ent in sms.doc.ents]):
        return HAM
    else:
        return ABSTAIN

In [82]:
lfs = [check, free, call, regex_I_am_free, has_person]

applier = PandasLFApplier(lfs=lfs)
L_train = applier.apply(df=df_train)

LFAnalysis(L=L_train, lfs=lfs).lf_summary()

100%|██████████| 4458/4458 [00:48<00:00, 92.38it/s]

                 j Polarity  Coverage  Overlaps  Conflicts
check            0      [1]  0.010094  0.001570   0.001122
free             1      [1]  0.046433  0.046433   0.003813
call             2      [1]  0.115747  0.018170   0.001795
regex_I_am_free  3   [0, 1]  0.046433  0.046433   0.003813
has_person       4      [0]  0.051593  0.003365   0.003365

In [85]:
from wordfreq import zipf_frequency
from snorkel.preprocess import preprocessor

@preprocessor(memoize=True)
def avg_word_freq(sms):
    sms.avg_word_freq = sum([zipf_frequency(word, 'en') for word in sms.text.split()]) / len(sms.text.split())
    
    return sms

In [86]:
@labeling_function(pre=[avg_word_freq])
def many_rare_words(sms):
    return ABSTAIN if sms.avg_word_freq >= 4 else SPAM

In [88]:
lfs = [check, free, call, regex_I_am_free, has_person, many_rare_words]

applier = PandasLFApplier(lfs=lfs)
L_train = applier.apply(df=df_train)

LFAnalysis(L=L_train, lfs=lfs).lf_summary()

100%|██████████| 4458/4458 [00:03<00:00, 1316.67it/s]

                 j Polarity  Coverage  Overlaps  Conflicts
check            0      [1]  0.010094  0.001795   0.001122
free             1      [1]  0.046433  0.046433   0.003813
call             2      [1]  0.115747  0.027815   0.001795
regex_I_am_free  3   [0, 1]  0.046433  0.046433   0.003813
has_person       4      [0]  0.051593  0.011664   0.011664
many_rare_words  5      [1]  0.064379  0.025123   0.009197

In [90]:
df_train.iloc[L_train[:,5] == SPAM].sample(frac=0.1)

,text,label
4821,Check Out Choose Your Babe Videos @ sms.shsex.netUN fgkslpoPW fgkslpo,-1
5413,Nite nite pocay wocay luv u more than n e thing 4eva I promise ring u 2morrowxxxx,-1
5319,Kothi print out marandratha.,-1
1466,"YOU 07801543489 are guaranteed the latests Nokia Phone, a 40GB iPod MP3 player or a £500 prize! Txt word:COLLECT to No:83355! TC-LLC NY-USA 150p/Mt msgrcvd18+",-1
2966,Not yet had..ya sapna aunty manege y'day hogidhe..chinnu full weak and swalpa black agidhane..,-1
5188,Okie,-1
2718,Okie.. Thanx..,-1
1007,Panasonic & BluetoothHdset FREE. Nokia FREE. Motorola FREE & DoubleMins & DoubleTxt on Orange contract. Call MobileUpd8 on 08000839402 or call 2optout,-1
4937,K..k.:)congratulation ..,-1
3358,"Brainless Baby Doll..:-D;-), vehicle sariyag drive madoke barolla..",-1
893,Nutter. Cutter. Ctter. Cttergg. Cttargg. Ctargg. Ctagg. ie you,-1
367,"Update_Now - Xmas Offer! Latest Motorola, SonyEricsson & Nokia & FREE Bluetooth! Double Mins & 1000 Txt on Orange. Call MobileUpd8 on 08000839402 or call2optout/F4Q=",-1
949,Chk in ur belovd ms dict,-1
1291,Eat jap done oso aft ur lect wat... Ü got lect at 12 rite...,-1
4246,Is toshiba portege m100 gd?,-1
316,K.k:)advance happy pongal.,-1
2171,"CAN I PLEASE COME UP NOW IMIN TOWN.DONTMATTER IF URGOIN OUTL8R,JUST REALLYNEED 2DOCD.PLEASE DONTPLEASE DONTIGNORE MYCALLS,U NO THECD ISV.IMPORTANT TOME 4 2MORO",-1
5226,Prabha..i'm soryda..realy..frm heart i'm sory,-1
1366,"HOT LIVE FANTASIES call now 08707509020 Just 20p per min NTT Ltd, PO Box 1327 Croydon CR9 5WB 0870..k",-1
276,Thanx...,-1
989,"Yun ah.the ubi one say if ü wan call by tomorrow.call 67441233 look for irene.ere only got bus8,22,65,61,66,382. Ubi cres,ubi tech park.6ph for 1st 5wkg days.èn",-1
5141,FREE for 1st week! No1 Nokia tone 4 ur mobile every week just txt NOKIA to 8077 Get txting and tell ur mates. www.getzed.co.uk POBox 36504 W45WQ 16+ norm150p/tone,-1
5027,Ur cash-balance is currently 500 pounds - to maximize ur cash-in now send GO to 86688 only 150p/meg. CC: 08718720201 HG/Suite342/2lands Row/W1j6HL,-1
3302,RCT' THNQ Adrian for U text. Rgds Vatian,-1
4370,Anytime lor...,-1
3482,Wherre's my boytoy ? :-(,-1
242,PLEASSSSSSSEEEEEE TEL ME V AVENT DONE SPORTSx,-1
2345,Okie...,-1
1848,"FREE NOKIA Or Motorola with upto 12mths 1/2price linerental, 500 FREE x-net mins&100txt/mth FREE B'tooth*. Call Mobileupd8 on 08001950382 or call 2optout/D3WV",-1

In [91]:
lfs = [check, free, call, regex_I_am_free, has_person, many_rare_words]

applier = PandasLFApplier(lfs=lfs)
L_train = applier.apply(df=df_train)
L_test = applier.apply(df=df_test)

LFAnalysis(L=L_train, lfs=lfs).lf_summary()

100%|██████████| 4458/4458 [00:00<00:00, 6437.30it/s]
100%|██████████| 1114/1114 [00:17<00:00, 65.31it/s]

                 j Polarity  Coverage  Overlaps  Conflicts
check            0      [1]  0.010094  0.001795   0.001122
free             1      [1]  0.046433  0.046433   0.003813
call             2      [1]  0.115747  0.027815   0.001795
regex_I_am_free  3   [0, 1]  0.046433  0.046433   0.003813
has_person       4      [0]  0.051593  0.011664   0.011664
many_rare_words  5      [1]  0.064379  0.025123   0.009197

In [92]:
LFAnalysis(L=L_test, lfs=lfs).lf_summary()

                 j Polarity  Coverage  Overlaps  Conflicts
check            0      [1]  0.013465  0.002693   0.000898
free             1      [1]  0.052065  0.052065   0.004488
call             2      [1]  0.108618  0.026032   0.000898
regex_I_am_free  3   [0, 1]  0.052065  0.052065   0.004488
has_person       4      [0]  0.041293  0.008079   0.008079
many_rare_words  5      [1]  0.059246  0.020646   0.007181

In [93]:
from snorkel.labeling.model import MajorityLabelVoter

majority_model = MajorityLabelVoter()
preds_train = majority_model.predict(L=L_train)

In [94]:
preds_train

array([-1,  1, -1, ..., -1, -1, -1])

In [95]:
import numpy as np

labels, counts = np.unique(preds_train, return_counts=True)

for l, c in zip(labels, counts):
    print(f"LABEL: {l}, count: {c}")

LABEL: -1, count: 3430
LABEL: 0, count: 178
LABEL: 1, count: 850

In [96]:
from snorkel.labeling.model import LabelModel

label_model = LabelModel(cardinality=2, verbose=True)
label_model.fit(L_train=L_train, n_epochs=500, log_freq=100, seed=42)

INFO:root:Computing O...
INFO:root:Estimating \mu...
  0%|          | 0/500 [00:00<?, ?epoch/s]INFO:root:[0 epochs]: TRAIN:[loss=0.019]
 16%|█▌        | 78/500 [00:00<00:02, 193.88epoch/s]INFO:root:[100 epochs]: TRAIN:[loss=0.004]
 38%|███▊      | 188/500 [00:00<00:01, 240.36epoch/s]INFO:root:[200 epochs]: TRAIN:[loss=0.003]
 57%|█████▋    | 286/500 [00:01<00:00, 218.43epoch/s]INFO:root:[300 epochs]: TRAIN:[loss=0.001]
 75%|███████▌  | 377/500 [00:01<00:00, 275.01epoch/s]INFO:root:[400 epochs]: TRAIN:[loss=0.000]
100%|██████████| 500/500 [00:02<00:00, 249.48epoch/s]
INFO:root:Finished Training

In [97]:
majority_acc = majority_model.score(L=L_test, Y=df_test.label, tie_break_policy="random")["accuracy"]
print(f"{'Majority voting accuracy:':<25} {majority_acc * 100:.1f}%")

label_model_acc = label_model.score(L=L_test, Y=df_test.label, tie_break_policy="random")["accuracy"]
print(f"{'Probabilistic model accuracy:':<25} {label_model_acc * 100:.1f}%")

Majority voting accuracy: 48.3%
Probabilistic model accuracy: 48.9%

In [98]:
from snorkel.labeling import filter_unlabeled_dataframe
from snorkel.utils import preds_to_probs, probs_to_preds

preds_train, probs_train = label_model.predict(L=L_train, return_probs=True)

df_train_filtered, probs_train_filtered = filter_unlabeled_dataframe(X=df_train, y=probs_train, L=L_train)
df_train.shape, df_train_filtered.shape

((4458, 2), (1082, 2))